.home {
    .homeBackground {
        background-image: url('../../assets/images/Home/homeBackground.png');
        background-position: 75% 25%;
        background-size: initial;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100vw;
        height: 100vh;
    }
}