@import '../../assets/variables.scss';
.guide {
        display: flex;
        position: relative;
        width: 100%;
        flex-direction: column;
         background-image: url('../../assets/images/Guide/GuidBackground.png');
         background-size: 100%;
         background-position: top;
         background-repeat: no-repeat;
        // margin-top: -550px;
    .content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 20px;
        .whatYouNeedBlock {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 34px;
            max-width: 1018px;
            h3 {
                font-family: $second-font;
                font-size: 48px;
                font-weight: 700;
            }
            p {
                font-size: 24px;
                color: $light-text;
                text-align: center;
            }
        }
        .guideItems{
            display: flex;
            align-items: flex-start;
            justify-content: center;
        }
    }
    .ship{
        margin-right: auto;
    }
}