@import '../../assets/variables.scss';

.footer {
  width: 100%;
  margin-top: 100px;

  .contactInformationContent {
    position: relative;
    padding: 44px 0;
    width: 100%;
    background-image: url("../../assets/images/Footer/footerBackground.png");
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: contain;

    .contactInformation {
      display: flex;
      justify-content: center;
      gap: 111px;

      .infoBlock {
        display: flex;
        align-items: flex-end;
        gap: 22px;

        p {
          text-align: center;
          font-size: 26px;
          font-weight: 400;
          line-height: 120%;
        }
      }

    }

    .line {
      width: 50%;
      height: 3px;
      background-color: $light-text;
      margin: 47px auto 23px;
    }

    .subtitle {
      >h2 {
        font-family: $second-font;
        text-align: center;
        font-size: 54px;
        font-weight: 700;
        line-height: 137.5%;
      }

      >h3 {
        text-align: center;
        font-family: "Agency FB Light";
        font-size: 54px;
        font-weight: 400;
        line-height: 137.5%;
      }
    }
  }

  .mainFooter {
    display: flex;
    position: relative;
    width: 100%;
    background-color: $base-color;

    .footerContent {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      position: relative;
      margin: 0 auto;
      width: 80%;

      .footerBlock1 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .imgBlock {
          >img {
            margin-top: 52px;
          }
        }



        .links {
          display: flex;
          justify-content: space-between;
          color: $white;

          .aboutUsBlock {
            width: 332px;
            margin-top: 48px;

            .title {
              color: $white;
              font-size: 24px;
              font-weight: 500;
              line-height: normal;
            }

            .description {
              color: $white;
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: 144%;
            }
          }

          .SLBlock {
            display: flex;
            gap: 136px;

            .solutions {
              >h3 {
                font-size: 20px;
                font-weight: 700;
                line-height: 100%;
                margin-bottom: 20px;
              }

              .solutionsContent {
                display: flex;
                flex-direction: column;
                gap: 12px;

                .subBlock {

                  >h4 {
                    font-family: Poppins;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 100%;
                    margin-bottom: 7px;
                  }

                  >p {
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 160%;
                  }
                }
              }
            }

            .loose {
              display: flex;
              flex-direction: column;
              flex-wrap: wrap;

              >h3 {
                font-size: 20px;
                font-weight: 700;
                line-height: 100%;
                margin-bottom: 20px;
              }


              >p {
                font-size: 16px;
                font-weight: 400;
                line-height: 160%;
              }
            }
          }

        }
      }

      .footerBlock2 {
        display: flex;
        flex-direction: column;

        .social {
          display: flex;
          flex-direction: column;
          gap: 1em;
          width: 100%;

          .messages {
            display: flex;
            justify-content: flex-end;
          }

          .LSBlock {
            display: flex;
            justify-content: space-between;

            .socialMediaBlock {
              display: flex;
              align-items: center;
              gap: 28px;
            }

            .license {
              font-size: 14px;
              font-style: normal;
              font-weight: 400;
            }
          }
        }
      }

      .line {
        height: 2px;
        width: 100%;
        opacity: 0.2;
        background: #000;
      }
    }
  }
}